<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.DAS">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DAS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseworkTwo">
        <activity android:name="com.example.DAS.imdbActivity"></activity>
        <activity android:name="com.example.DAS.RatingsActivity" />
        <activity android:name="com.example.DAS.SearchActivity" />
        <activity android:name="com.example.DAS.DataEditorActivity" />
        <activity android:name="com.example.DAS.EditActivity" />
        <activity android:name="com.example.DAS.FavouriteActivity" />
        <activity android:name="com.example.DAS.DisplayActivity" />
        <activity android:name="com.example.DAS.RegisterActivity" />
        <activity android:name="com.example.DAS.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>